FW_ADMIN='{{ hardening_fw_admin }}'
SSH_GRPS='{{ hardening_ssh_grps }}'
SSH_PORT='{{ hardening_ssh_port }}'
SYSCTL_CONF='{{ hardening_sysctl_conf }}'
AUDITD_MODE='{{ hardening_auditd_mode }}'
AUDITD_RULES='{{ hardening_auditd_rules }}'
LOGROTATE_CONF='{{ hardening_logrotate_conf }}'
NTPSERVERPOOL='{{ hardening_ntp_server_pool }}'
TIMEDATECTL='{{ hardening_timedatectl }}'
VERBOSE='{{ hardening_verbose }}'
AUTOFILL='{{ hardening_autofill }}'
ADMINEMAIL='{{ hardening_admin_email }}'
KEEP_SNAPD='{{ hardening_keep_snapd }}'
CHANGEME='{{ hardening_changeme }}'

# Configuration files
ADDUSER='/etc/adduser.conf'
AUDITDCONF='/etc/audit/auditd.conf'
AUDITRULES='/etc/audit/rules.d/hardening.rules'
COMMONPASSWD='/etc/pam.d/common-password'
COMMONACCOUNT='/etc/pam.d/common-account'
COMMONAUTH='/etc/pam.d/common-auth'
COREDUMPCONF='/etc/systemd/coredump.conf'
DEFAULTGRUB='/etc/default/grub.d'
DISABLEFS='/etc/modprobe.d/disablefs.conf'
DISABLEMOD='/etc/modprobe.d/disablemod.conf'
DISABLENET='/etc/modprobe.d/disablenet.conf'
FAILLOCKCONF='/etc/security/faillock.conf'
JOURNALDCONF='/etc/systemd/journald.conf'
LIMITSCONF='/etc/security/limits.conf'
LOGINDCONF='/etc/systemd/logind.conf'
LOGINDEFS='/etc/login.defs'
LOGROTATE='/etc/logrotate.conf'
PAMLOGIN='/etc/pam.d/login'
PSADCONF='/etc/psad/psad.conf'
PSADDL='/etc/psad/auto_dl'
RESOLVEDCONF='/etc/systemd/resolved.conf'
RKHUNTERCONF='/etc/default/rkhunter'
RSYSLOGCONF='/etc/rsyslog.conf'
SECURITYACCESS='/etc/security/access.conf'
SSHFILE='/etc/ssh/ssh_config'
SSHDFILE='/etc/ssh/sshd_config'
SYSCTL='/etc/sysctl.conf'
SYSTEMCONF='/etc/systemd/system.conf'
TIMESYNCD='/etc/systemd/timesyncd.conf'
UFWDEFAULT='/etc/default/ufw'
USERADD='/etc/default/useradd'
USERCONF='/etc/systemd/user.conf'
